In [1]:
import pandas as pd

In [3]:
try:
    df = pd.read_excel("yeni_tablo.xlsx")
    print("Dosya Excel formatında.")
    # Dosyanın içeriğini önizle
    print(df.head())
except pd.errors.ParserError:
    print("Dosya Excel formatında değil.")
except FileNotFoundError:
    print("Dosya bulunamadı.")

Dosya Excel formatında.
  Unnamed: 0   YIL ÜLKELER     TOPLAM  Denizyolu  Demiryolu  Karayolu
0    çimento  2018  A.B.D.  1832456.0  1832456.0        NaN       NaN
1    çimento  2018  İSRAİL  1229838.0  1229838.0        NaN       NaN
2    çimento  2018  SURİYE   777465.0        NaN        NaN  777465.0
3    çimento  2018   HAİTİ   384549.0   384549.0        NaN       NaN
4    çimento  2018    GANA   354634.0   354634.0        NaN       NaN

In [5]:
data = pd.read_excel(r"C:\Users\asli_\PYTHON_PROJECTS\CIMSA_PROJE\yeni_tablo.xlsx", header=0)

In [6]:
df.head()

  Unnamed: 0   YIL ÜLKELER     TOPLAM  Denizyolu  Demiryolu  Karayolu
0    çimento  2018  A.B.D.  1832456.0  1832456.0        NaN       NaN
1    çimento  2018  İSRAİL  1229838.0  1229838.0        NaN       NaN
2    çimento  2018  SURİYE   777465.0        NaN        NaN  777465.0
3    çimento  2018   HAİTİ   384549.0   384549.0        NaN       NaN
4    çimento  2018    GANA   354634.0   354634.0        NaN       NaN

In [7]:
eksik_kontrol = df.isnull().sum()
print(eksik_kontrol)

Unnamed: 0      0
YIL             0
ÜLKELER         0
TOPLAM          0
Denizyolu      34
Demiryolu     640
Karayolu      599
dtype: int64

In [8]:
#veri seti yedeklenerek kopya olusturuldu
df_yedek = df.copy()

In [9]:
#xlsx halinden cvs'ye cevirme
df.to_csv('ihracat.csv', index=False)

In [10]:
# Verinin temizlenip temizlenmedigini anlamak icin Eksik değerleri kontrol etme
print(df.isnull().sum())

Unnamed: 0      0
YIL             0
ÜLKELER         0
TOPLAM          0
Denizyolu      34
Demiryolu     640
Karayolu      599
dtype: int64

In [11]:
# Sütunların istatistiksel özetini al
#Sütunların Dağılımını İnceleme
print(df.describe())

               YIL        TOPLAM     Denizyolu      Demiryolu      Karayolu
count   651.000000  6.510000e+02  6.170000e+02      11.000000  5.200000e+01
mean   2019.980031  1.879114e+05  1.837806e+05   90204.545455  1.512047e+05
std       1.383830  6.413406e+05  6.498549e+05  135012.548992  3.544995e+05
min    2018.000000  1.700000e+01  1.700000e+01      48.000000  3.000000e+00
25%    2019.000000  1.718500e+03  1.794000e+03    3497.500000  3.150000e+02
50%    2020.000000  2.166400e+04  2.031300e+04   18411.000000  1.739200e+04
75%    2021.000000  1.310280e+05  1.236350e+05   98769.000000  9.243500e+04
max    2022.000000  9.655155e+06  9.655155e+06  370038.000000  1.385720e+06

In [12]:
# Tekrarlayan satırları kontrol etme
tekrarlayanlar = df[df.duplicated()]
print(tekrarlayanlar)

Empty DataFrame
Columns: [Unnamed: 0, YIL, ÜLKELER, TOPLAM, Denizyolu, Demiryolu, Karayolu]
Index: []